<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <% if (googleAnalyticsId) { %>
      <!-- Google tag (gtag.js) -->
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=<%= googleAnalyticsId %>"
      ></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "<%= googleAnalyticsId %>");
      </script>
    <% } %>
    <% if (googleAdsenseClientId) { %>
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= googleAdsenseClientId %>"
        crossorigin="anonymous"
      ></script>
    <% } %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- title === "US Cycle Guides" ? title : `${title} - US Cycle Guides` %></title>
    <script>
      (function (d, e) {
        d[e] = d[e].replace("no-js", "js");
      })(document.documentElement, "className");
    </script>
    <meta name="description" content="<%- description %>" />
    <link rel="canonical" href="<%= canonicalUrl %>" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= canonicalUrl %>" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body class="body">
    <div class="container container--outer">
      <%- include('partials/header') %>
      <div class="wrapper flex">
        <div class="primary"><%- body %></div>
        <%- include('partials/sidebar') %>
      </div>
      <%- include('partials/footer') %>
    </div>
    <script async defer src="/js/menu.js"></script>
  </body>
</html>
