<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title"><%= article.title %></h1>
			<div class="post__meta meta">
				<div class="meta__item-datetime meta__item">
					<svg class="meta__icon icon icon-time" width="16" height="14" viewBox="0 0 30 28"><path d="M15 0C7 0 1 6 1 14s6 14 14 14 14-6 14-14S23 0 15 0zm0 25C9 25 4 20 4 14S9 3 15 3s11 5 11 11-5 11-11 11zm1-18h-2v8.4l6.8 4.4L22 18l-6-3.8V7z"/></svg>
					<time class="meta__text" datetime="<%= article.lastmod.toISOString() %>"><%= article.lastmod.toDateString() %></time>
				</div>
			</div>
		</header>
		<div class="content post__content clearfix">
			<%- articleHtml %>
		</div>
		<% if (article.tags && article.tags.length > 0) { %>
		<footer class="post__footer">
			<div class="post__tags tags clearfix">
				<svg class="tags__badge icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L1 14c-1-1-1-2-1-2V1c0-1 1-2 2-2h11c1 0 2 1 2 1l16 16s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
				<% article.tags.forEach(tag => { %>
					<a class="tags__link btn" href="/tags/<%= tag %>/" rel="tag"><%= tag %></a>
				<% }) %>
			</div>
		</footer>
		<% } %>
	</article>
</main>
