<aside class="sidebar">
<div class="widget-recent widget">
	<h4 class="widget__title">Recent Posts</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<% if (sidebarRecentPosts && sidebarRecentPosts.length > 0) { %>
				<% sidebarRecentPosts.forEach(post => { %>
					<li class="widget__item">
						<a class="widget__link" href="/posts/<%= post.slug %>"><%= post.title %></a>
					</li>
				<% }) %>
			<% } else { %>
				<li class="widget__item">No posts yet</li>
			<% } %>
		</ul>
	</div>
</div>
<div class="widget-categories widget">
	<h4 class="widget__title">Categories</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<% if (sidebarCategories && sidebarCategories.length > 0) { %>
				<% sidebarCategories.forEach(category => { %>
					<li class="widget__item">
						<a class="widget__link" href="/categories/<%= encodeURIComponent(category.name) %>"><%= category.name %></a>
						<span> (<%= category.count %>)</span>
					</li>
				<% }) %>
			<% } else { %>

				<li class="widget__item">No categories yet</li>
			<% } %>
		</ul>
	</div>
</div>
<div class="widget-taglist widget">
	<h4 class="widget__title">Tags</h4>
	<div class="widget__content">
		<% if (sidebarTags && sidebarTags.length > 0) { %>
			<div class="tags">
				<% sidebarTags.forEach(tag => { %>
					<a class="tags__link btn" href="/tags/<%= encodeURIComponent(tag.name) %>"><%= tag.name %> (<%= tag.count %>)</a>
				<% }) %>
			</div>
		<% } else { %>

			<span>No tags yet</span>
		<% } %>
	</div>
</div>
</aside>
